html,
body {
  height: 100%;
}
#homeMainDiv {
  height: 100%;
  background-color: #0b0c10;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#platformList {
  padding-bottom: 18vmin;
}

.platformLink {
  padding-top: 3vmin;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#motto {
  color: rgb(165, 165, 165);
  margin-bottom: 2vmin;
  font-size: 5vmin;
  font-style: italic;
}

.addInput {
  background-color: rgb(169, 216, 255);
  border: solid 0.3vmin rgb(56, 116, 165);
  width: 30vmin;
  height: 2vmin;
  border-radius: 0.5vmin;
  padding-left: 3px;
  color: black;
  font-size: 2vmin;
  margin-right: 3vmin;
  display: flex;
}

.addInput::placeholder {
  font-style: italic;
  font-size: 2vmin;
}

#formButtons {
  display: flex;
  flex-direction: row;
}

.button {
  border: none;
  width: 1.5vmax;
  height: 1.5vmax;
  border-radius: 0.5vmin;
}

#formAddPlatform {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2vmin;
  height: 3vmin;
  width: 50vmin;
}

.cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8vmin;
  margin-right: 1vmin;
  background-color: rgb(133, 58, 58);
}

.validateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vmin;
  background-color: rgb(111, 180, 111);
}

.button:hover {
  cursor: pointer;
}

.primaryButton {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  height: 10vmin;
  color: rgb(228, 228, 228);
  border: solid 0.5vmin rgb(67, 151, 133);
  background-color: rgb(81, 187, 164);
  border-radius: 0.2em;
  font-size: 3vmin;
  width: 50vmin;
}

.primaryButton:hover {
  background-color: rgb(67, 151, 133);
  cursor: pointer;
}

.secondaryButton:hover {
  cursor: pointer;
}

.buttonDelete {
  color: white;
  width: 4vmin;
  height: 4vmin;
}

.buttonLink {
  font-size: 2.4vmin;
  background: none;
  color: rgb(67, 151, 133);
  border: solid 0.2vmin;
  text-transform: uppercase;
  font-weight: 500;
  width: 45vmin;
  height: 10vmin;
  border-radius: 0.1vmin;
}

.buttonLink:hover {
  border: solid 0.4vmin rgb(67, 151, 133);
  cursor: pointer;
}

#validateSubmit {
  font-weight: bold;
  color: white;
}

.buttonDelete {
  vertical-align: center;
  text-align: center;
}

.buttonDelete:hover {
  cursor: pointer;
}
#stickOnBottom {
  font-size: 2.4vmin;
  background: none;
  border: solid 0.2vmin;
  text-transform: uppercase;
  font-weight: 500;
  width: 45vmin;
  height: 10vmin;
  border-radius: 0.1vmin;
  padding-top: 3vmin;
  padding-left: 2vw;
  display: flex;
}
