#homeMainDiv {
  height: 100%;
  background-color: #0b0c10;
}

html,
body {
  height: 100%;
}

.platformLink {
  padding-top: 3vmin;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homeMainDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#motto {
  color: rgb(165, 165, 165);
  margin-bottom: 2vmin;
  font-size: 5vmin;
  font-style: italic;
}

.addInput {
  background-color: #c5c6c7;
  border: none;
  width: 25vmin;
  height: 2vmin;
  border-radius: 0.5vmin;
  padding-left: 3px;
  margin-top: 1em;
}

.addInput::placeholder {
  font-style: italic;
  font-size: 2vmin;
}

.button {
  border: none;
  width: 3vmin;
  height: 3vmin;
  border-radius: 0.5vmin;
}

.cancelButton {
  color: white;
  font-size: 0.9em;
  background-color: rgb(97, 42, 42);
}

.validateButton {
  background-color: rgb(111, 180, 111);
}

.button:hover {
  cursor: pointer;
}

.primaryButton {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  height: 10vmin;
  color: rgb(228, 228, 228);
  border: solid 0.5vmin rgb(67, 151, 133);
  background-color: rgb(81, 187, 164);
  border-radius: 0.2em;
  font-size: 1.7vmax;
  width: 50vmin;
}

.primaryButton:hover {
  cursor: pointer;
}

.secondaryButton:hover {
  cursor: pointer;
}

.buttonDelete {
  color: white;
  width: 4vmin;
  height: 4vmin;
}

.buttonLink {
  font-size: 1.5vmin;

  background: none;
  color: rgb(67, 151, 133);
  border: solid 0.2vmin;
  text-transform: uppercase;
  font-weight: 500;
  width: 45vmin;
  height: 10vmin;
  border-radius: 0.1vmin;
}

.buttonLink:hover {
  border: solid 0.4vmin rgb(67, 151, 133);
  cursor: pointer;
}

#validateSubmit {
  font-weight: bold;
  color: white;
}

.buttonDelete {
  height: 100%;
  padding-left: 1vmin;
  vertical-align: center;
  text-align: center;
}

.buttonDelete:hover {
  cursor: pointer;
}
