#topTools {
  text-align: center;
  margin-bottom: 2vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.emptyTable {
  color: rgb(201, 200, 200);
  text-align: center;
  font-size: 3vmin;
}

#mainDivPlatform {
  height: 100%;
  background-color: #0b0c10;
}

.topInput {
  background-color: rgba(82, 83, 189, 0.349);
  border: none;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  margin-top: 2em;
  padding-left: 1em;
}

#headDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#hiddenDiv {
  width: 33%;
}

#globalHeader {
  width: 33%;
  order: 0;
  text-align: center;
}

#platformName {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 8vmin;
  color: #c5c6c7;
  width: 33%;
  text-align: center;
  font-weight: 550;
}

.submitButton {
  border: 1px black;
  background-color: rgb(168, 108, 168);
  border-radius: 1em;
  font-weight: bold;
}

.topInput::placeholder {
  font-style: italic;
}

.submitButton:hover {
  background-color: rgb(146, 61, 146);
}

#platformTable {
  width: 80vw;
  margin: auto;
}
